@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
.app-wrapper {
  height: 1024px;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
}

.subheader {
  height: 24px;
}

@media (max-width: 576px), screen and (orientation: portrait) {
  .subheader {
    display: none;
  }
}
.main {
  background-image: url("./assets/img/bg-img-1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  flex: 1 1 100px;
}

.header {
  height: 125px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(180deg, rgba(51, 51, 51, 0.2) 14.31%, rgba(27, 27, 27, 0.1) 58.6%, rgba(0, 0, 0, 0.0001) 100%);
  mix-blend-mode: normal;
}
.header-inner {
  width: 100%;
  margin: auto;
  padding: 0 23px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
}
.header-button-group {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
}
.header-label {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 57px;
  letter-spacing: 0.95px;
  color: #FFFFFF;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
}
.header-search {
  background: rgba(247, 247, 247, 0.25);
  border-radius: 3px;
  width: 584px;
  height: 48px;
  display: flex;
  justify-content: space-between;
}
.header-search input, .header-search button {
  border: none;
  outline: none;
  background: transparent;
}
.header-search input {
  width: 90%;
  height: 100%;
  padding: 0 15px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 100%;
  letter-spacing: 0.8px;
  text-align: left;
  color: #FFFFFF;
}
.header-search input:focus::-webkit-input-placeholder {
  color: transparent;
}
.header-search input::-webkit-input-placeholder {
  text-overflow: ellipsis;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 100%;
  letter-spacing: 0.8px;
  color: #FFFFFF;
}
.header-search button {
  height: 100%;
  width: 42px;
  cursor: pointer;
}
.header-navigation {
  margin: auto;
}
.header-navigation .nav-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 32px;
}
.header-navigation .nav-list-item__title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 19px;
  white-space: nowrap;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
}

.sign-in {
  color: #fff;
  display: flex;
  gap: 6px;
  align-items: center;
}
.sign-in-button {
  display: inline-block;
  border: none;
  background: transparent;
  color: inherit;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 11px;
  line-height: 16px;
  white-space: nowrap;
  text-align: right;
  letter-spacing: 1px;
  cursor: pointer;
}

.invitation-label {
  display: flex;
  gap: 6px;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 11px;
  line-height: 16px;
  text-align: right;
  letter-spacing: 1px;
  white-space: nowrap;
  color: #ffffff;
}

.bag-icon {
  width: 32px;
  height: 32px;
}

.counter {
  width: 25px;
  height: 25px;
  border: none;
  background: #F2DA91;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.08);
  border-radius: 50%;
  display: none;
}

.menu-burger {
  display: none;
}

.search-button-sm {
  display: none;
}

@media (max-width: 768px), screen and (orientation: portrait) and (orientation: landscape) {
  .header-navigation .nav-list {
    justify-content: space-evenly;
    gap: 18px;
  }
}
@media (max-width: 576px), screen and (orientation: portrait) and (orientation: landscape) {
  .header-inner {
    gap: 8px;
    position: relative;
  }
  .header-search {
    position: absolute;
    width: 90vw;
    top: 50px;
    left: 15px;
    right: 15px;
    display: none;
  }
  .header .sign-in {
    display: none;
  }
  .header .counter {
    display: inline-block;
  }
  .header .menu-burger {
    border: none;
    outline: none;
    background: transparent;
    display: block;
    cursor: pointer;
  }
  .header .search-button-sm {
    display: block;
    border: none;
    outline: none;
    background: transparent;
    height: 100%;
    width: 42px;
    cursor: pointer;
  }
  .header .header-navigation .nav-list {
    display: none;
  }
}
.content {
  flex: 3 1 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content__title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 90px;
  text-align: center;
  color: #fff;
  padding-bottom: 50px;
}

@media (max-width: 576px), screen and (orientation: portrait) {
  .content__title {
    display: none;
  }
}
.register {
  background-color: white;
  height: 146px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.register-inner {
  width: 100%;
  max-width: 440px;
  margin: 0 auto;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 94px;
  grid-template-rows: 1fr 1fr;
}
.register__title {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.872727px;
  text-align: left;
  color: #000000;
}
.register__input {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  border: 1px solid #E1E0E1;
  border-radius: 3px;
  font-family: "Poppins", sans-serif;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.8px;
  text-align: left;
  color: #4A4A4A;
  padding: 0 15px;
}
.register__button {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 10px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #000000;
  border-radius: 3px;
}

@media (max-width: 576px), screen and (orientation: portrait) {
  .register {
    margin: 0 auto;
    padding: 12px 24px;
    width: 100%;
    height: auto;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #F7F7F7;
  height: 197px;
}
.footer-inner {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.footer-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 150px;
}
.footer-section__title {
  font-family: "Cormorant Garamond", serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 1.16364px;
  color: #000000;
  margin-bottom: 20px;
}
.footer-section-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer-section__link {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  line-height: 19px;
  letter-spacing: 0.1px;
  color: #000000;
}
.footer__copyright {
  font-family: "Poppins", sans-serif;
  font-size: 9px;
  line-height: 13px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #000000;
}

.social-icon-list {
  list-style-type: none;
  display: flex;
  align-items: flex-start;
  gap: 14px;
}

.right-arrow, .down-arrow {
  display: none;
}

@media (max-width: 768px), screen and (orientation: portrait) {
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #F7F7F7;
    height: 320px;
  }
  .footer-inner {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 45px;
    justify-content: space-around;
  }
  .footer-section {
    margin-bottom: 35px;
  }
  .footer-section__title {
    font-family: "Cormorant Garamond", serif;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 1.16364px;
    color: #000000;
    margin-bottom: 20px;
  }
}
@media (max-width: 576px), screen and (orientation: portrait) {
  .right-arrow {
    display: inline-flex;
  }

  .footer {
    height: auto;
    padding-bottom: 15px;
  }
  .footer-inner {
    flex-direction: column;
  }
  .footer-section {
    max-width: 100%;
    padding: 12px 32px 6px;
    margin-bottom: 2px;
  }
  .footer-section__title {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    border-bottom: 1px solid #E1E0E1;
    position: relative;
  }
  .footer-section-list {
    align-items: flex-start;
  }
  .footer-section:last-child > header {
    display: none;
  }

  .social-icon-list {
    margin: 0 auto;
    align-items: center;
    gap: 20px;
  }
}
#accordion-1,
#accordion-2,
#accordion-3,
#accordion-4 {
  display: none;
}

@media (max-width: 576px), screen and (orientation: portrait) {
  #accordion-1,
#accordion-2,
#accordion-3,
#accordion-4 {
    display: flex;
  }

  .accordion-item {
    position: relative;
  }
  .accordion-item__input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
  .accordion-item__content {
    border-top: none;
    display: none;
  }

  .accordion-item__input:checked ~ .accordion-item__trigger .right-arrow {
    display: none;
  }
  .accordion-item__input:checked ~ .accordion-item__trigger .down-arrow {
    display: flex;
  }

  .accordion-item__input:checked ~ .accordion-item__content {
    display: flex;
  }
}
.main-secondary-style {
  background-image: url("./assets/img/hp-oh-hi.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  flex: 1 1 100px;
}
.main-secondary-style .header {
  background: none;
  background-color: #fff;
  color: black;
}
.main-secondary-style .header-label {
  color: black;
}
.main-secondary-style .header-search {
  background-color: #F2F2F2;
}
.main-secondary-style .header-search input {
  color: black;
}
.main-secondary-style .header-search input::-webkit-input-placeholder {
  color: #000000;
}
.main-secondary-style .header-search button {
  color: black;
}
.main-secondary-style .header .sign-in {
  color: black;
}
.main-secondary-style .header .nav-list-item__title {
  color: black;
}
.main-secondary-style .header .invitation-label {
  color: black;
}
html {
  background: #F2F2F2;
  box-shadow: 0 0 35px -5px rgba(0, 0, 0, 0.6);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-align: center;
}

.hidden {
  display: none;
}

/*# sourceMappingURL=style.css.map */
