@import 'vars';


.content {
  flex: 3 1 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__title {
    font-family: $Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 90px;
    text-align: center;
    color: $MainHeaderColor;
    //margin: auto;
  }
}