@import 'vars';


  .header {
    height: 125px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(180deg, rgba(51, 51, 51, 0.2) 14.31%, rgba(27, 27, 27, 0.1) 58.6%, rgba(0, 0, 0, 0.0001) 100%);
    mix-blend-mode: normal;


    &-inner {
      width: 100%;
      margin: auto;
      padding: 0 23px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 30px;
      align-items: center;
    }

    &-button-group {
      display: flex;
      flex-direction: row;
      gap: 6px;
      align-items: center;
    }

    &-label {
      font-family: $Poppins;
      font-style: normal;
      font-weight: bold;
      font-size: 38px;
      line-height: 57px;
      letter-spacing: 0.95px;
      color: #FFFFFF;
      text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
    }

    &-search {
      background: rgba(247, 247, 247, 0.25);
      border-radius: 3px;
      width: 584px;
      height: 48px;
      display: flex;
      justify-content: space-between;

      input, button {
        border: none;
        outline: none;
        background: transparent;
      }

      input {
        width: 90%;
        height: 100%;
        padding: 0 15px;

        font-family: $Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 11px;
        line-height: 100%;
        letter-spacing: 0.8px;
        text-align: left;
        color: #FFFFFF;
      }

      input:focus::-webkit-input-placeholder {
        color: transparent
      }

      input::-webkit-input-placeholder {
        text-overflow: ellipsis;
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 11px;
        line-height: 100%;
        letter-spacing: 0.8px;
        color: #FFFFFF;
      }

      button {
        height: 100%;
        width: 42px;
        cursor: pointer;
      }

    }

    .sign-in {
      color: $MainHeaderColor;
      display: flex;
      gap: 6px;
      align-items: center;

      &-button {
        display: inline-block;
        border: none;
        background: transparent;
        color: inherit;

        font-family: $Poppins;
        font-weight: 600;
        font-size: 11px;
        line-height: 16px;
        white-space: nowrap;
        text-align: right;
        letter-spacing: 1px;
        cursor: pointer;
      }
    }

    &-navigation {
      margin: auto;

      .nav-list {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        gap: 32px;

        &-item {

          &__title {
            font-family: $Poppins;
            font-weight: 600;
            font-size: 13px;
            line-height: 19px;
            white-space: nowrap;
            text-align: center;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #FFFFFF;
            text-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
          }
        }
      }
    }
  }



.bag-icon {
  width: 32px;
  height: 32px;
}

.invitation-label {
  font-family: $Poppins;
  font-weight: 600;
  font-size: 11px;
  line-height: 16px;
  text-align: right;
  letter-spacing: 1px;
  white-space: nowrap;
  color: #000000;
  //display: none;
}

.counter {
  width: 25px;
  height: 25px;
  border: none;

  background: #F2DA91;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.08);
  border-radius: 50%;
  display: none;
}

.menu-burger {
  display: none;
}

.search-button-sm {
  display: none;
}

@media (max-width: 768px), screen and (orientation: portrait) and (orientation: landscape) {

  .header-navigation .nav-list {
    justify-content: space-evenly;
    gap: 18px;
  }
}


@media (max-width: 576px), screen and (orientation: portrait) and (orientation: landscape) {
  .header {

    &-inner {
      gap: 8px;
      position: relative;
    }

    &-search {
      position: absolute;
      width: 90vw;
      top: 50px;
      left: 15px;
      right: 15px;
      display: none;
    }

    .sign-in {
      display: none;
    }

    .counter {
      display: inline-block;
    }

    .menu-burger {
      border: none;
      outline: none;
      background: transparent;
      display: block;
      cursor: pointer;
    }

    .search-button-sm {
      display: block;
      border: none;
      outline: none;
      background: transparent;
      height: 100%;
      width: 42px;
      cursor: pointer;
    }

    .header-navigation .nav-list {
      display: none;
    }

    //.invitation-label {
    //  display: inline-block;
    //}

  }

}