@import 'vars';


.main {
  background-image: url("./assets/img/bg-img-1.png");
  background-size: cover;
  background-repeat: no-repeat;
  //background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: stretch;
  flex: 1 1 100px;
}